/*
Plugin Name: MostLikedPosts
Author: Wojciech Krzysztofik (unholy69@gmail.com)
Author URI: http://facbook.com/unholy69
*/
.fb-likes {
    margin-left: 4px;
    padding: 3px 4px;
    background: #4e69a2;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    border-radius: 2px;
}